html, body {margin: 0; padding: 0; height: 100%; text-align: center;}
section, nav{min-height: 20%;}
a{text-decoration: none;}
li{list-style-type: none;}

h1, h2, h3, a, th{font-family: 'Roboto', sans-serif;font-weight: 500;color: #494949;text-transform: uppercase;}
h3{font-size: 40px; padding-top: 8%; margin-bottom: 5px;}
h4, p{font-family: 'Roboto Slab', serif;color: #494949}

hr{width: 30px;height: 3px;background:#494949;border: 0px;margin: 0 auto 40px auto;}
#logo, li, img, .button{transition: all 300ms; -webkit- transition: all 300ms; -o- transition: all 300ms; -moz- transition: all 300ms;} /*Kleine Animation beim Drüberfahren des Mauszeigers*/
/*-webkit- co. Damit alle Browser eine Animation bekommen*/

/* HEADER ********************************************************/

header{ /*Ansprechen des Headers*/
  width: 100%; /*Breite des Headers*/
  height: 65px; /*Höhe des Headers*/
  position: fixed; /*Damit Header immer an fixer Postion vom Monitor ist*/
  top: 0; /*Abstand vom Rand*/
  left: 0; /* Abstand vom Rand*/
  background: white; /*Farbe des Hintergrunds*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /*Schatten: 1px: Stärke 3px: Deckkraft*/
  z-index: //soart Hintergrundwert also was im vordergrund ist!
}
#logo{ /*Ansprechen des Logos div Kontainer*/
  width: 200px; /*Größe des Bildes !gehe zu #logo img*/
  float: left; /*Damit es Links ist*/
  margin: 10px 0px 0px 50px; /*Rand Abstand zur Seite*/
}
#logo:hover{ /*Effekt beim Kurser drüberfahren*/
  opacity: 0.5 /*Deckkraft*/
}

#logo img{ /*Aufrufen des Bildes im logo*/
  width: 100%; /*Damit es 150px hat*/
}

header nav{ /*Ansprechen der Navigation*/
  float: right; /*Damit es rechts ist*/
  margin: 10px 50px 0px 0px; /*Abstand*/
}

header nav ul li{ /*Ansprechen der List Items*/
  float: left; /*Damit werden sie in einer Reihe angezeigt*/
  margin-right: 25px;
}

header nav ul li a{ /*Ansprechen der Ankertags*/
  font-size: 16px; /*Größe der Schrift*/
}

header nav ul li:hover { /*Pseudoklasse, hover: wenn maus über ding fährt*/
  padding-top: 5px; /*effekt*/
}

#navbereich table{
  margin: 0 auto 0 auto;
  width: 400px;
  border-radius: 5px;
}

#navbereich table th{
  background-color: #5AE6FA;
  font-size: 23px;
  background-image: linear-gradient(to top, white 0%, #0E89DE 100%);
}

#navbereich table, th, td{
  border: 1px solid #000;
  border-collapse: collapse;

}
#navbereich table td{
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: : 5px;
}

tr:nth-child(odd){

  background-color: #ada9a9;
    background-image: linear-gradient(to top, #ada9a9 0%, white 100%);
}

#navbereich img{
  width: 40px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#navbereich button{
  font-size: 30px;
  font-family: 'Roboto';
  text-transform: uppercase;
  border-radius: 10px;
}
#navbereich button:hover{
  transform: scale(1.1);
  -webkit- transform: scale(1.1);
  -moz- transform: scale(1.1);
  -o- transform: scale(1.1);

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#navbereich button{transition: all 300ms; -webkit- transition: all 300ms; -o- transition: all 300ms; -moz- transition: all 300ms;}

/* Text ********************************************************/

#text{
  width: 1000px;
  margin: 0 auto 0 auto;
}
#text h4{
  font-size: 25px;
}
#text p{
  font-size: 18px;
  text-align: justify;
  margin-bottom: 5px;
}
#text p B{
}
/* Kommentare ********************************************************/

form input, textarea{
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 2px solid;
  border-color: #494949;
}
form input:first-child{
  margin-top: 10px;
}

form input{
  width: 552px;
  height: 30px;
}

form textarea{
  width: 550px;
  height: 200px;
  resize: none;
}

.imput_text{
  color: #494949;
  padding-left: 10px;
}
::-webkit-input-placeholder {color: #999999;}
::-moz-placeholder {color: #999999;}
:-ms-input-placeholder {color: #999999;}
:-moz-placeholder {color: #999999;}

.button{
  background-color: #f0f0f0;
  color: #494949;
  width: 566px;
  height: 50px;
}

.button:hover{
  background-color: #494949;
  color: #f0f0f0;
}

/* footer ********************************************************/

footer{
  width: 100%;
  height: 70px;
  background-color: #3f3f3f;
}

footer ul{
  margin: 0 auto 0 auto;
  padding: 0;
  width: 176px;
}
footer ul li{
  float: left;
  margin: 0 auto 0 auto;
}

footer ul li a img{
  width: 30px;
  padding-top: 23px;
  padding-left: 23px;
}

footer ul li p{
  font-size: 12px;
  color: #f0f0f0;
  padding-top: 30px;
  margin-top: 0;
}
