html, body {margin: 0; padding: 0; height: 100%; text-align: center;}
section{min-height: 100%;}
a{text-decoration: none;}
li{list-style-type: none;}

h1, h2, h3, a{font-family: 'Roboto', sans-serif;font-weight: 500;color: #494949;text-transform: uppercase;}
h3{font-size: 40px; padding-top: 8%; margin-bottom: 5px;}
h4, p{font-family: 'Roboto Slab', serif;color: #494949}

hr{width: 30px;height: 3px;background:#494949;border: 0px;margin: 0 auto 40px auto;}
#logo, li, img{transition: all 300ms; -webkit- transition: all 300ms; -o- transition: all 300ms; -moz- transition: all 300ms;} /*Kleine Animation beim Drüberfahren des Mauszeigers*/
/*-webkit- co. Damit alle Browser eine Animation bekommen*/

/* HEADER ********************************************************/

header{ /*Ansprechen des Headers*/
  width: 100%; /*Breite des Headers*/
  height: 65px; /*Höhe des Headers*/
  position: fixed; /*Damit Header immer an fixer Postion vom Monitor ist*/
  top: 0; /*Abstand vom Rand*/
  left: 0; /* Abstand vom Rand*/
  background: white; /*Farbe des Hintergrunds*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /*Schatten: 1px: Stärke 3px: Deckkraft*/
  z-index: //soart Hintergrundwert also was im vordergrund ist!
}
#logo{ /*Ansprechen des Logos div Kontainer*/
  width: 200px; /*Größe des Bildes !gehe zu #logo img*/
  float: left; /*Damit es Links ist*/
  margin: 10px 0px 0px 50px; /*Rand Abstand zur Seite*/
}
#logo:hover{ /*Effekt beim Kurser drüberfahren*/
  opacity: 0.5 /*Deckkraft*/
}

#logo img{ /*Aufrufen des Bildes im logo*/
  width: 100%; /*Damit es 150px hat*/
}

header nav{ /*Ansprechen der Navigation*/
  float: right; /*Damit es rechts ist*/
  margin: 10px 50px 0px 0px; /*Abstand*/
}

header nav ul li{ /*Ansprechen der List Items*/
  float: left; /*Damit werden sie in einer Reihe angezeigt*/
  margin-right: 25px;
}

header nav ul li a{ /*Ansprechen der Ankertags*/
  font-size: 16px; /*Größe der Schrift*/
}

header nav ul li:hover { /*Pseudoklasse, hover: wenn maus über ding fährt*/
  padding-top: 5px; /*effekt*/
}

/* MENÜ ********************************************************/
#Chemics_Menue{
    background-color: #f0f0f0;
}

#Chemics_Menue h3{
  margin: 0 auto 0 auto;
}
#Chemic_Menue_div ul{
  margin: 0 auto 0 auto;
  padding: 0;
  width: 900px;
}
#Chemic_Menue_div ul li{
  font-size: 30px;
  float: left;
  width: 33.3%
}

#Chemic_Menue_div ul li p{
  font-family: Roboto;
}

#Chemic_Menue_div ul li:hover{
    transform: scale(1.1);
    -webkit- transform: scale(1.1);
    -moz- transform: scale(1.1);
    -o- transform: scale(1.1);

    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
/* footer ********************************************************/

footer{
  width: 100%;
  height: 70px;
  background-color: #3f3f3f;
}

footer ul{
  margin: 0 auto 0 auto;
  padding: 0;
  width: 176px;
}
footer ul li{
  float: left;
  margin: 0 auto 0 auto;
}

footer ul li a img{
  width: 30px;
  padding-top: 23px;
  padding-left: 23px;
}

footer ul li p{
  font-size: 12px;
  color: #f0f0f0;
  padding-top: 30px;
  margin-top: 0;
}
